body {
    margin: 0;
    min-width: 250px;
    background: linear-gradient(100deg, #d0b782 20%, #a0cecf 80%); 
    background-size: cover;
  }
  
  /* Include the padding and border in an element's total width and height */
  * {
    box-sizing: border-box;
  }

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  } 
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  

  
  /*  background-color on hover */
  ul li:hover {
    background: linear-gradient(100deg, #bea05f 20%, #6dbdbe 80%);
  }


  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    color: rgb(218, 25, 25);
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: rgb(216, 12, 12);
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 15px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    color: black;

  }
  
  .close:hover {
    color:white;
    background-color: red;
  }
  
  /* Style the header */
  .header {
    /* background-color: #f44336; */
    
    padding: 30px 40px;
    color: black;
    text-align: center;
  }
  
  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the input */
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #B8860B;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    border: none;
  }
  
  .addBtn:hover {
    background-color:#c7a03e;
    color: white ;
  } 

  .container{
    max-width: 300px;
  }