<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} title {% endcomment %}
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% block css %}{% endblock css %}">
</head>
<body>
    {% comment %} main body {% endcomment %}
    {% block content %}{% endblock content %}
    {% comment %} javascript {% endcomment %}
    <script src="{% block js %}{% endblock js %}"></script>
</body>
</html>