{% extends 'base.html' %} 
{% load static %}

{% comment %} title {% endcomment %}
{% block title %} ToDo App {% endblock title %}

{% comment %} css {% endcomment %}
{% block css %}{% static 'css/index.css' %}{% endblock css %}

{% comment %} Main body {% endcomment %}
{% block content %}
    
    {% comment %} date and time {% endcomment %}
    <div class="dateandtime">{{dateandtime}}</div>

    {% comment %} add Task {% endcomment %}
    <form action="" method="POST">
        {% csrf_token %}
        <div id='myDIV' class='header'>
            <h2 style="margin:5px">To Do List</h2>
            <div>{{form.title}}</div>
            <button type="submit" class="addBtn">Add task</button>
        </div> 

    </form>  

    {% comment %} show tasks and delete task {% endcomment %}
    <ul id="myUL">
        {% for a in alltasks %}
            <li>{{a}} <a href="{% url 'delete' a.pk %}"> <i class="fa fa-times close"></i> </a> </li>
        {% endfor %}
    </ul>

{% endblock content %} 

{% comment %} javascript {% endcomment %}
{% block js %}{% static 'js/index.js' %}{% endblock js %}